page-noticias {

}

/*
.ion-item{

  padding-left: 10px !important;
  padding-right: 10px !important;
  height: 100% !important;
  padding-bottom: 0 !important;
  padding-top : 0 !important;
  background-color: #ee00cc;

}

ion-list{

  height: 100% !important;

}

.news-click-button{

  padding: 0 !important;
  margin: 0 !important;
  height: 100% !important;
  background-color: #003300 !important;

}

ion-col {

  padding: 0 !important;
  height: 100% !important;

}

.news-click-button > small {

  margin: 0 !important;
  height: 100% !important;

} */
